/*.custom-alert {
  background-color: #8a4d47 !important;
  color: #f0e8e8 !important;
  font-size: 12px;
  text-align: center;
}
.alert-icon {
  margin-right: 3px;
  color: #d9b8b8; 
}
.alert-text {
  font-weight: normal; 
}
.error-sublist li {
  margin: 3px 0;
  font-size: 11px;
}*/